/*-- scss:defaults --*/

// Colors

$assetlife-blue: #348cfa;
$assetlife-blue-dark: #003778;
$assetlife-blue-light: #6aa9f7;

$assetlife-grey: #6F767B;
$assetlife-grey-light: #D9DEE1;

$assetlife-black: #1F2529;
$assetlife-white: #FFFFFF;

$assetlife-accent: #0094ff;

/*-- scss:rules --*/
.reveal .slide-logo{
    max-height: 2em !important;
}
.reveal {

  font-family:
    "Aptos",
    "Arial",
    "Helvetica",
    sans-serif;

  color: $assetlife-black;

  font-size: 28px;
  line-height: 1.25;

  background-color: $assetlife-white;

  p {
    text-align: justify;
    hyphens: auto;
  }
  p,
  ul,
  ol {
    margin-top: 0.35em;
    margin-bottom: 0.45em;
  }
  h1{
    font-size: 15rem;
  }
  h2{
    color: $assetlife-blue;
    font-size: 8rem;
  }
  h3{
    font-size:4rem;
  }
  figure {
  text-align: center;
  }
  figure figcaption {
  text-align: center;
  }
}

.reveal .footer > *{
  text-align:center;
}
/*Title Slide*/

.reveal .quarto-title-block {

  background-color: $assetlife-white;

  h1 {
    color: $assetlife-blue;
    font-weight: 700;
  }

  .author,
  .date {
    color: $assetlife-grey;
    margin-top:0.4em;
    text-align: center;
  }
}

/*Contents*/
.reveal .toc-slide {
  padding-left: 10%;

  h1{
    color: $assetlife-blue-dark;
  }

  ol li::marker{
  color: $assetlife-blue-light
  }

  li {
    border-bottom: 2px solid $assetlife-grey-light;
    font-size: 1.5em;
    line-height: 2;
  }

}

/*Chapter*/
.reveal .chapter-slide {
  background: $assetlife-blue-dark !important;
  color: $assetlife-white;
  position: relative;
  padding-left: 20%;
  padding-top: 15%;

  &::before {
    content: attr(data-number);
    position: absolute;
    left: 2%;
    font-size: 15rem;
    font-weight: 700;
    color: $assetlife-accent;
    line-height: 1;
  }

  h1 {
    margin: 8% 0 0 10%;
    font-size: 8rem !important;
    color: $assetlife-white;
    line-height: 1;
  }

  p {
    margin: 0 0 0 10%;
    font-size: 4rem !important;
    color: $assetlife-grey-light;
    line-height: 1;
  }
}
